# Ignore all files in data folders but keep the folder structure
excercise2/data/british_parliament_debates/*
excercise2/data/US_congress_debates/*

# Keep the directories themselves
!excercise2/data/british_parliament_debates/
!excercise2/data/US_congress_debates/

# Ignore all files in lemmas and clean_docs folders but keep the folder structure
excercise2/lemmas/*/*
excercise2/clean_docs/*/*

# Keep the subdirectories themselves
!excercise2/lemmas/*/
!excercise2/clean_docs/*/
